* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  background-color: #efeae6;
  color: #262629;
  margin: 0;

  font-family:
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crimson Text', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
  margin-top: 16px;
}

h4 {
  font-size: 18px;
  margin-top: 16px;
}

p,
li {
  margin: 8px 0;
}

a {
  color: #3391ff;
}

header,
footer {
  padding: 24px 0;
}

header {
  background-color: #ffd6a7;
}

footer {
  background-color: #fe1c55;
  color: #faf7f5;
}

header {
  text-align: center;

  .meta {
    dt::before {
      content: '';
      margin: 0;
    }
  }

  p {
    margin: 4px 0;
  }

  h1 {
    margin-bottom: 8px;
  }

  a {
    color: #9f2d00;
  }

  img {
    background-color: #faf7f5;
    border-radius: 8px;
    padding: 8px;
    width: min(300px, 90%);
    margin: 8px;
  }
}

dl {
  /* imita um li */
  dt::before {
    content: 'â—';
    margin-left: 1.7em;
    margin-right: 0.3rem;
    font-size: 0.8em;
    position: relative;
    top: -0.25em;
  }

  dt,
  dd {
    display: inline;
  }

  dt:has(+ dd)::after {
    content: ':';
  }

  /* quebra de linha */
  dd::after {
    content: '';
    display: block;
    height: 0;
    margin: 6px 0;
  }
}

nav {
  width: 100%;
  padding: 18px;
  background-color: #faf7f5;
  border: 2px solid #e7e2df;
  border-radius: 16px;
  margin-top: 32px;
}

main {
  margin-bottom: 32px;
}

section {
  margin-top: 32px;
  padding-top: 32px;
  border-top: thin solid #26262952;
}

ol li {
  list-style-type: upper-roman;
}

.ch-faltante {
  color: #fe1c55;
}

.centralizado {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .centralizado {
    max-width: 90vw;
  }
}

@media screen and (min-width: 1024px) {
  .centralizado {
    max-width: min(80vw, 1200px);
  }
}

figure {
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;

  padding: 18px;
  background-color: #faf7f5;
  border-radius: 16px;

  &:has(+ figure) {
    margin-bottom: 24px;
  }

  figcaption {
    margin-top: 12px;

    &::first-letter {
      font-size: 24px;
    }
  }

  img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #e7e2df;
  }
}

@media screen and (min-width: 500px) {
  figure {
    max-width: 80%;
  }
}

footer {
  & > .centralizado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    & div:not(:last-child) {
      border-right: solid 1px #e7e2dfaa;
    }
  }

  li {
    list-style-type: none;
  }

  .contatos {
    a {
      color: white;
      vertical-align: middle;
      text-decoration: none;

      &:hover {
        color: #e7e2df;
      }

      .link-social {
        text-decoration: underline;
      }
    }

    img {
      width: 20px;
    }
  }
}
